{% extends 'base.html' %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container">
    <input value="{{ intensities }}" id="intensities" type="hidden">
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <h2>Tabla</h2>
    {% include 'table.html' %}
  </div>
  <script>
    window.onload = function () {
      let intensities = document.getElementById('intensities').value;
      let dataPoints = []
      JSON.parse(intensities).forEach(element => {
        dataPoints.push({ 'y': element });
      });

      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "light2",
        title:{
          text: "Tensión"
        },
        axisY:{
          includeZero: false
        },
        data: [{        
          type: "line",   
          dataPoints: dataPoints,    
        }]
      });

      chart.render();
    }
  </script>
{% endblock %}
